#Build dir
/build

.ycm_extra_conf.pyc
.ycm_extra_conf.py

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# Vim session
session.vim
